.heading {
    background: #26345f;
    height: 100px;
    padding-top: 45px;
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
  }
  .tagline {
    background-color: #26345f;
    color: #fff;
    text-align: center;
    font-size: small;
  }
  .para {
    text-align: center;
    margin-top: 30px;
  }
  .clg {
    font-size: 25px;
    font-weight: 300;
  }
  .clg2 {
    font-size: 30px;
    font-weight: 400;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .tab {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .tab1 {
    flex: 1;
    padding: 10px;
    
  }
  .tab2{
    text-align: left;
    padding-left: 50px;
    font-size: 30px;
    border-bottom: #26345f;
    padding-bottom: 40px;
  }
  .tab3{
    padding-left: 80px;
    font-size: 20px;
  }

  .win{
   margin-left: 100px;
   margin-top: 80px;
   margin-bottom: 80px;
  }
  .win11{
    padding: 80px;
  }
  .but{
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    height: 40px;
    width: 130px;
    margin-left: 44%;
    margin-bottom: 50px;
    background: none;
  }
  .but:hover{
    color: #ffffff;
    background: #26345f;
  }